<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <img class="collapsible__image collapsible__chevron" src="images//chevron.svg" alt="collapsible chevron">
    </header>
    <div class="collapsible__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt sunt quibusdam quo rerum voluptatem
        doloribus laboriosam quas illum nulla neque.
    </div>
</div>
<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <img class="collapsible__image collapsible__chevron" src="images//chevron.svg" alt="collapsible chevron">
    </header>
    <div class="collapsible__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt sunt quibusdam quo rerum voluptatem
        doloribus laboriosam quas illum nulla neque.
    </div>
</div>